*{
    margin : 0;
    padding: 0 ;
    font-family: 'pop';
    box-sizing: border-box;;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00fed0, #5b548a);
    color: #fff;
    margin: 100px auto 0 ;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0 ;
    outline: 0 ;
    background: #efffce;
    color: #555;
    padding: 25px 30px ;
    height: 60px ;
    border-radius: 30px ;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}
.search button{
    border: 0 ;
    outline: 0 ;
    background: #efffce;
    width: 60px;
    height: 60px ;
    border-radius: 50%;
    cursor: pointer;
}
.search button img{
    width: 15px;
}
.weather-icon{
    width: 185px;
    margin-top: 20px;
}
.weather h1{
    font-size: 80px ;
    font-weight: 500;
}
.weather h2{
    font-size: 45px ;
    font-weight: 400;
    margin-top: -10px;
}
.detail{
    margin: 20px 10px ;
    padding: 20px 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 60px ;
    margin-right: 10px ;
}
.humidity, .wind{
    font-size: 30px;
    margin-left: -6px ;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    font-size: 14px;
    margin-left: 10px ;
    margin-top: 10px ;
    display: none;
}